@import "tailwindcss";

* {
    font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.nav-custom {
    box-shadow: 2px 2px 6px rgb(20, 3, 94);
}

/* Rimuove la freccetta di default dal <summary> */
details summary {
    list-style: none; /* Disabilita la freccetta */
  }
  

footer {
    
    text-align: center;
    border-top: solid 2px rgb(246, 240, 240);
    padding: 1rem;
    
}


.footerC {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}

.card-img {
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 6px rgb(20, 3, 94);
    height: 150px;
    width: 220px;
}


.card {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgb(20, 3, 94);
    width: 260px;
    
}


/* GRID SYSTEM */

.layout-grid {
    display: grid;
    grid-template-columns: 14rem 1fr;
  }
  
  .sidebar {
    background-color: #111112;
    color: white;
    padding: 1rem;
    height: 100%;
  }
  
  .content {
    padding: 1.5rem;
    flex-grow: 1;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

/* SEZIONE BOTTONE */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: rgb(20,3,94);
    background: linear-gradient(0deg, rgba(20,3,94,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }

a {
    text-decoration: none;
    color: inherit ;
}


.genre-custom-container {
    display: flex;
    width: 35px;
    height: 35px;
}

.img-genre {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* CLASSI CHATBOX */

.chatbox-container {
    box-shadow: 0px 4px 12px rgb(20, 3, 94);
    background-color: #1a1a1a;
    min-height: 200px;
}